<%- include('../../fragments/header.ejs') %>

    <main>
        <script type="application/javascript" src="/js/validationCommon.js"></script>
        <script type="application/javascript" src="/js/validationStForm.js"></script>
        <h2>
            <%= pageTitle %>
        </h2>
        <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">

            <input type="hidden" name="idStudent" value="<%= std.idStudent %>">
            <label for="firstName">
                <%= __('std.fields.firstName') %>:<sup>*</sup>
            </label>
            <input type="text" name="firstName" id="firstName" placeholder="2-60 znaków" value="<%= std.firstName %>"
                <%=(formMode=='showDetails' ) ? 'disabled' : '' %> />
            <span id="errorFirstName" class="errors-text">

            </span>

            <label for="lastName">
                <%= __('std.fields.lastName') %>:<sup>*</sup>
            </label>
            <input type="text" name="lastName" id="lastName" placeholder="2-60 znaków" value="<%= std.lastName %>"
                <%=(formMode=='showDetails' ) ? 'disabled' : '' %> />
            <span id="errorLastName" class="errors-text">

            </span>

            <label for="email">
                <%= __('std.fields.email') %>:<sup>*</sup>
            </label>
            <input type="email" name="email" id="email" placeholder="np. nazwa@domena.pl" value="<%= std.email %>"
                <%=(formMode=='showDetails' ) ? 'disabled' : '' %> />
            <span id="errorEmail" class="errors-text">

            </span>

            <label for="birthdate">
                <%= __('std.fields.birthdate') %>:<sup>*</sup>
            </label>
            <input type="date" name="birthdate" id="birthdate"
                value="<%= (formMode!='createNew') ? std.birthdate : ''; %>" <%=(formMode=='showDetails' ) ? 'disabled'
                : '' %>>
            <span id="errorBirthdate" class="errors-text"></span>

            <% if (formMode=='showDetails' && loggedUser.role!='t' ) { %>
                <div class="section-buttons">
                    <a href="/students/edit/<%= std.idStudent %>" class="form-button-edit">
                        <%= __('form.actions.edit') %>
                    </a>
                </div>
                <% } %>

                    <% if (formMode=='edit' ) { %>
                        <div class="form-buttons">
                            <p id="errorsSummary" class="errors-text"></p>
                            <input type="submit" value="Aktualizuj" class="form-button-submit" />
                        </div>
                        <% } %>

                            <% if (formMode=='createNew' ) { %>

                                <div class="form-buttons">
                                    <p id="errorsSummary" class="errors-text"></p>
                                    <input type="submit" value="Dodaj" class="form-button-submit" />
                                    <a href="/students" class="form-button-cancel">Anuluj</a>
                                </div>
                                <% } %>
        </form>

        <% if (formMode=='showDetails' || formMode=='edit' ) { %>
            <h2>
                Uczestnictwo w grupach
            </h2>
            <table class="table-list">
                <thead>
                    <tr>
                        <th>Nr grupy</th>
                        <th>Język</th>
                        <th>Lektor</th>
                        <th>Rok szkolny</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(std.enrollments) { %>
                        <% for (let e of std.enrollments) { %>
                            <tr>
                                <td><a href="/groups/details/<%= e.idClass %>">
                                        <%= e.classNr %>
                                    </a></td>
                                <td>
                                    <%= e.language %>
                                </td>
                                <td>
                                    <a href="/teachers/details/<%= e.idTeacher %>">
                                        <%= e.teacher %>
                                    </a>
                                </td>
                                <td>
                                    <%= e.year %>
                                </td>

                            </tr>
                            <% } %>
                                <% } %>
                </tbody>
            </table>
            <% } %>


    </main>
    <%- include('../../fragments/footer.ejs') %>