<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Lista uczniów</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>
                        <%= __('std.fields.birthdate') %>
                    </th>
                    <th>
                        <%= __('std.fields.lastName') %>
                    </th>
                    <th>
                        <%= __('std.fields.email') %>
                    </th>
                    <th>
                        <%= __('std.fields.birthdate') %>
                    </th>
                    <th>
                        <%= __('list.actions.title') %>
                    </th>
                </tr>
            </thead>
            <tbody>
                <% for (let std of stds) { %>
                    <tr>
                        <td>
                            <%= std.firstName %>
                        </td>
                        <td>
                            <%= std.lastName %>
                        </td>
                        <td>
                            <%= std.email %>
                        </td>
                        <td>
                            <%= std.birthdate.toISOString().split('T')[0]; %>
                        </td>
                        <td>
                            <ul class="list-actions">
                                <li><a href="/students/details/<%=std.idStudent%>" class="list-actions-button-details">
                                        <%= __('list.actions.details') %>
                                    </a>
                                </li>

                                <% if(loggedUser.role=="a" ) { %>
                                    <li><a href="/students/edit/<%=std.idStudent%>" class="list-actions-button-edit">
                                            <%= __('list.actions.edit') %>
                                        </a></li>
                                    <li><a href="/students/delete/<%=std.idStudent%>"
                                            class="list-actions-button-delete">
                                            <%= __('list.actions.delete') %>
                                        </a></li>

                                    <% } %>
                            </ul>
                        </td>
                    </tr>
                    <% } %>
            </tbody>


        </table>
        <% if(loggedUser.role=="a" ) { %>
            <p><a href="/students/add" class="button-add">
                    <%= __('std.list.addNew') %>
                </a></p>
            <% } %>
    </main>
    <%- include('../../fragments/footer.ejs') %>