<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Lista lektorów</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>E-mail</th>
                    <th>Wykształcenie</th>
                    <th>Język</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>

                <% for (let tch of tchs) { %>
                    <tr>
                        <td>
                            <%= tch.firstName %>
                        </td>
                        <td>
                            <%= tch.lastName %>
                        </td>
                        <td>
                            <%= tch.email %>
                        </td>
                        <td>
                            <%= tch.education %>
                        </td>
                        <td>

                            <%= tch.language %>
                        </td>
                        <td>
                            <ul class="list-actions">
                                <li><a href="/teachers/details/<%=tch.idTeacher %>"
                                        class="list-actions-button-details">Szczegóły</a></li>

                                <% if(loggedUser.role=="a" ) { %>
                                    <li><a href="/teachers/edit/<%=tch.idTeacher %>"
                                            class="list-actions-button-edit">Edytuj</a></li>
                                    <li><a href="/teachers/delete/<%=tch.idTeacher %>"
                                            class="list-actions-button-delete">Usuń</a></li>
                                    <% } %>
                            </ul>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
        <% if(loggedUser.role=='a' ) { %>
            <p><a href="/teachers/add" class="button-add">Dodaj nowego lektora</a></p>
            <% } %>
    </main>
    <%- include('../../fragments/footer.ejs') %>