<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Lista uczniów</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Grupa</th>
                    <th>Data przypisania</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                <% for (let enr of enrs) { %>
                    <tr>
                        <td>
                            <%= enr.firstName %>
                        </td>
                        <td>
                            <%= enr.lastName %>
                        </td>
                        <td>
                            <%= enr.classNr %>
                        </td>
                        <td>
                            <%= enr.enrollmentDate.toISOString().substring(0, 10); %>
                        </td>
                        <td>
                            <ul class="list-actions">
                                <li><a href="/enrollments/details/<%=enr.idEnrollment%>"
                                        class="list-actions-button-details">Szczegóły</a></li>
                                <% if(loggedUser.role=="a" ) { %>
                                    <li><a href="/enrollments/edit/<%=enr.idEnrollment%>"
                                            class="list-actions-button-edit">Edytuj</a></li>
                                    <li><a href="/enrollments/delete/<%=enr.idEnrollment%>"
                                            class="list-actions-button-delete">Usuń</a></li>
                                    <% } %>
                            </ul>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
        <% if(loggedUser.role=="a" ) { %>
            <p><a href="/enrollments/add" class="button-add">Przypisz nowego ucznia</a></p>
            <% } %>
    </main>
    <%- include('../../fragments/footer.ejs') %>