<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>
            <%= __('grp.list.pageTitle') %>
        </h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>
                        <%= __('grp.fields.groupNr') %>
                    </th>
                    <th>
                        <%= __('grp.fields.level') %>
                    </th>
                    <th>
                        <%= __('grp.fields.language') %>
                    </th>
                    <th>
                        <%= __('grp.fields.hours') %>
                    </th>
                    <th>
                        <%= __('grp.fields.teacher') %>
                    </th>
                    <th>
                        <%= __('grp.fields.schoolYear') %>
                    </th>
                    <th>
                        <%= __('list.actions.title') %>
                    </th>
                </tr>
            </thead>
            <tbody>

                <% for (let grp of grps) { %>
                    <tr>
                        <td>
                            <%= grp.classNr %>
                        </td>
                        <td>
                            <%= grp.level %>
                        </td>
                        <td>
                            <%= grp.language %>
                        </td>

                        <td>
                            <%= grp.hours %>

                        </td>
                        <td>
                            <%= grp.teacherName %>
                        </td>
                        <td>
                            <%= grp.year %>
                        </td>
                        <td>
                            <ul class="list-actions">
                                <li>
                                    <a href="/groups/details/<%=grp.idClass %>" class="list-actions-button-details">
                                        <%= __('list.actions.details') %>
                                    </a>
                                </li>

                                <% if(loggedUser.role=='a' ) { %>

                                    <li>
                                        <a href="/groups/edit/<%=grp.idClass %>" class="list-actions-button-edit">
                                            <%= __('list.actions.edit') %>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="/groups/delete/<%=grp.idClass %>" class="list-actions-button-delete">
                                            <%= __('list.actions.delete') %>
                                        </a>
                                    </li>
                                    <% } %>
                            </ul>
                        </td>
                    </tr>

                    <% } %>
            </tbody>
        </table>
        <% if(loggedUser.role=='a' ) { %>
            <p><a href="/groups/add" class="button-add">
                    <%= __('grp.list.addNew') %>
                </a></p>
            <% } %>
    </main>
    <%- include('../../fragments/footer.ejs') %>