<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Lista grup</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Nr grupy</th>
                    <th>Poziom</th>
                    <th>Język</th>
                    <th>Liczba godzin</th>
                    <th>Lektor prowadzący</th>
                    <th>Rok szkolny</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>

                <% for (let grp of grps) { %>
                    <tr>
                        <td>
                            <%= grp.classNr %>
                        </td>
                        <td>
                            <%= grp.level %>
                        </td>
                        <td>
                            <%= grp.language %>
                        </td>

                        <td>
                            <%= grp.hours %>

                        </td>
                        <td>
                            <%= grp.teacherName %>
                        </td>
                        <td>
                            <%= grp.year %>
                        </td>
                        <td>
                            <ul class="list-actions">
                                <li>
                                    <a href="/groups/details/<%=grp.idClass %>"
                                        class="list-actions-button-details">Szczegóły</a>
                                </li>

                                <% if(loggedUser.role=='a' ) { %>

                                    <li>
                                        <a href="/groups/edit/<%=grp.idClass %>"
                                            class="list-actions-button-edit">Edytuj</a>
                                    </li>

                                    <li>
                                        <a href="/groups/delete/<%=grp.idClass %>"
                                            class="list-actions-button-delete">Usuń</a>
                                    </li>
                                    <% } %>
                            </ul>
                        </td>
                    </tr>

                    <% } %>
            </tbody>
        </table>
        <% if(loggedUser.role=='a' ) { %>
            <p><a href="/groups/add" class="button-add">Dodaj nową grupę</a></p>
            <% } %>
    </main>
    <%- include('../../fragments/footer.ejs') %>