<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>ABC</title>
</head>

<body>
    <header>
        <h1>ABC</h1>
        <h6>SYSTEM OBSŁUGI SZKOŁY JĘZYKOWEJ</h6>
        <img src="/images/logo.png" alt="ABC Logo">

    </header>
    <nav>
        <ul>
            <li><a href="/" class="<%= navLocation == 'main' ? 'active' : ''%>">Strona główna</a></li>
            <li><a href="/students" class="<%= navLocation == 'std' ? 'active' : ''%>">Uczniowie</a></li>
            <li><a href="/groups" class="<%= navLocation == 'grp' ? 'active' : ''%>">Grupy</a></li>
            <li><a href="/teachers" class="<%= navLocation == 'tch' ? 'active' : ''%>">Lektorzy</a></li>
            <li><a href="enrolments" class="<%= navLocation == 'enr' ? 'active' : ''%>">Przypisania uczniów</a></li>
        </ul>
    </nav>