<nav>
    <ul>
        <li><a href="/" class="<%= navLocation == 'main' ? 'active' : ''%>">
                <%= __('nav.main-page') %>
            </a>
        </li>
        <li><a href="/students/details/ <%= loggedUser.id %>" class="<%= navLocation == 'std' ? 'active' : ''%>">
                <%= __('nav.student') %>
            </a>
        </li>
        <li><a href="/groups" class="<%= navLocation == 'grp' ? 'active' : ''%>">
                <%= __('nav.groups') %>
            </a></li>

        </li>

    </ul>
</nav>